body.error404 #page-wrap{ padding-top: 0; }
#error-page-container{ background-size: cover; background-position: center; background-repeat: no-repeat; }
#error-page-container .content-container{ min-height: 100vh; display: flex; align-items: center; }
#error-page-container .page-content{ padding: 72px 50px; }
#error-page-container.no-fi{ background-color: #DFDFDF; }
#error-page-container.has-fi .page-content{ background-color: rgba(255,255,255,.6); }
#error-page-container .errorpage-icon{ font-size: 72px; padding-bottom: 32px; }
#error-page-container .errorpage-errorcode{ font-size: 16px; color: #959595; }
/* Search Form */
#error-search{ width: 100%; padding: 30px 0 45px; }
#error-search form#searchform #s{ background: transparent; float: left; color: #999999; width: 450px; font-family: 'Montseratt', Arial, Helvetica, sans-serif; font-size: 18px; height: 50px; line-height: 50px; margin: 0px 8px 0px 0px; padding: 4px 12px; border: solid 2px #CFCFCF; }
#error-page-container.has-fi #error-search form#searchform #s{ background-color: rgba(255,255,255,.35); }
#error-page-container.no-fi #error-search form#searchform #s{ background-color: rgba(255,255,255,.85); }
#error-search form#searchform #searchsubmit{ float: left; width: 100px; margin-top: 0px; margin-bottom: 0px; padding: 0; height: 50px; line-height: 50px; transition: all .25s; -moz-transition: all .25s; -webkit-transition: all .25s; -o-transition: all .25s; font-size: 18px; border: solid 2px #CFCFCF; }
#error-search form#searchform #searchsubmit:hover{ border-color: #202020; }

@media only screen and (max-width: 800px){
  #error-page-container .page-content{ padding: 48px 20px; width: 100%; }
  #error-search form#searchform #s, #error-search form#searchform #searchsubmit{ width: 100%; }
  #error-search form#searchform #s{ margin-bottom: 8px; }
}

#maintenance-page{  }