a{ color: #9E1B1B; font-weight: 500; }
a:hover{ color: #B62727; }
.page-wrapper{ padding: 32px 48px; width: 920px; margin: 0 auto; }
h1{ font-family: 'Cardo', Times, serif; font-size: 38px; }
h2{ font-family: 'Montserrat', Arial, Helvetica, serif; font-size: 24px; text-transform: uppercase; font-weight: 300; }
p{ font-family: 'Montserrat', Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 300; color: #303030; line-height: 1.4; }
.newsletter-footer{ font-size: 15px; color: #888; font-style: italic; }
.newsletter{ text-align: center; padding: 32px 0 12px; }
.newsletter input{ font-family: 'Montserrat', Arial, Helvetica, sans-serif; font-weight: 500; font-size: 18px; padding: 8px 12px; line-height: 32px; }
.newsletter .email{ width: 500px; color: #333; border: solid 1px #555; }
.newsletter .button{ width: 150px; background-color: #9E1B1B; color: #FFF; border: solid 1px #9E1B1B; }
#cs-photos{ margin: 18px 0; }
#cs-photos .cs-photo{ float: left; height: 500px; background-position: center; background-size: cover; background-repeat: no-repeat; }
#cs-photos .photo-left{ width: 45%; background-image: url('../images/photo3jpg.jpg'); }
#cs-photos .photo-center{ width: 100%; background-image: url('../images/healey-dell-heritage.jpg'); }
#cs-photos .photo-right{ width: 55%; background-image: url('../images/beautiful-edible-gold.jpg'); }

#footer p{font-size: 15px; text-align: center; }

.clearfix:before, .clearfix:after, .container:before, .container:after{ content: ""; display: table; }
.clearfix:after, .container:after{ clear: both; }