/* Main Styles */

/* Blockquote */

/* Header */
body.admin-bar header{ top: 32px; }
header{ transition: all .2s ease-in-out; }
/* Logo */
header #header-logo{ transition: all .2s ease-in-out; }
/* Menu */
/* Drop Down Menu */
header nav *{ transition: all .2s ease-in-out; }
header nav a{ line-height: 1.7; }
header nav .menu-wrap{ padding: 32px 0; }
header nav .menu{ list-style: none; margin: 0 9px 0 0; padding: 0; }
header nav .menu li{ display: inline-block; margin: 0 -2px; position: relative; }
header nav li.menu-item-has-children a::after{ font-family: 'FontAwesome'; font-size: 10px; vertical-align: top; display: inline-block; }
header nav .menu > li.menu-item-has-children > a::after{ line-height: 1.7; padding: 3px 0 0 8px; }
header nav .sub-menu > li.menu-item-has-children > a::after{ line-height: 1.4; padding: 3px 5px 0 0; float: right; }
header nav ul > li.menu-item-has-children > a::after{ content: '\f078'; }
header nav .sub-menu > li.menu-item-has-children > a::after{ content: '\f054'; }
/* Drop Down Menu */
header nav .sub-menu{ padding: 0; border-radius: 0 0 3px 3px; box-shadow: 0px 4px 4px rgba(0,0,0,0.24); position: absolute; background-color: #FAFAFA; width: 250px; left: 0; top: 36px; z-index: 25; list-style: none; text-align: left; margin: 0; opacity: 0; visibility: hidden; display: block; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
header nav .sub-menu a{ color: #353535; }
header nav .sub-menu a:hover{ color: #222; }
header nav li:hover > .sub-menu{ opacity: 1; visibility: visible; }
header nav .sub-menu > li{ display: block; width: 100%; margin: 0; text-transform: none; }
header nav .sub-menu > li > a{ line-height: 1.4; padding: 12px; display: block; text-decoration: none; transition: color .3s ease, background-color .15s ease-in-out; margin: 0; position: relative; }
header nav .sub-menu > li:last-of-type a{ border-bottom: none; }
header nav .sub-menu > li > a:hover{ background-color: #CC366E; color: #FFF; }
header nav .sub-menu li > .sub-menu{ position: absolute; left: 245px; top: 0; }
/* Mobile Menu Override */
header #menutoggle{ display: none; }
header nav .touchClose{ display: none; }
/* Donate Button */
header #header-donate-button{ width: 100px; float: right; }
header #header-donate-button .donate-link a{ text-align: center; line-height: 40px; }
/* Sticky Menu */
header #header-logo img{ transition: all .1s ease-in-out; } /*
header.stickyHeader{ box-shadow: 0 2px 4px rgba(0,0,0,.3); position: fixed; top: 0; right: 0; left: 0; background-color: #EFEFEF; height: 60px; z-index: 100; padding: 20px 0; box-sizing: content-box; }
header.stickyHeader .menu-wrap{ padding: 12px 0; }
header.stickyHeader #header-logo{ height: 60px; float: left; }
header.stickyHeader #header-logo img{ content: var(--stickyLogo); height: 60px; }
header.stickyHeader nav{ float: right; text-align: right; }
header.stickyHeader nav .menu > li > a{ color: #404040; }
header.stickyHeader nav .menu > li > a, header.stickyHeader nav .menu > li > a:after{ line-height: 36px; }
header.stickyHeader nav .menu > li > a:after{ padding: 0 0 0 8px; }
header.stickyHeader nav .menu > li > a:hover, header.stickyHeader nav .menu > li:hover > a{ color: #111; }
body.admin-bar header.stickyHeader{ top: 32px; } */

/* Footer */
/* Newsletter */
footer #footer-newsletter{ padding-top: 75px; padding-bottom: 75px;}
footer #footer-newsletter #footer-newsletter-label, footer #footer-newsletter #footer-newsletter-form{ display: inline-block; margin: 0 -2px; }
footer #footer-newsletter #footer-newsletter-label{ width: 35%; padding-right: 17px; }
footer #footer-newsletter #footer-newsletter-form{ width: 65%; padding-left: 17px; }
footer #footer-newsletter #footer-newsletter-form form{ height: 53px; }
footer #footer-newsletter #footer-newsletter-form input{ float: left; }
footer #footer-newsletter #footer-newsletter-form .emailadd{ width: calc( 100% - 250px ); }
footer #footer-newsletter #footer-newsletter-form .submitadd{ width: 250px; }
footer #footer-newsletter .ccdClient-mailchimpForm .mailchimpForm-name{ padding-bottom: 11px; padding-top: 4px; }
footer #footer-newsletter .ccdClient-mailchimpForm .mailchimpForm-name .mailchimpForm-field{ width: 50%; }
footer #footer-newsletter .ccdClient-mailchimpForm .mailchimpForm-name .mailchimpForm-field:first-of-type{ padding-right: 6px; }
footer #footer-newsletter .ccdClient-mailchimpForm .mailchimpForm-name .mailchimpForm-field:last-of-type{ padding-left: 6px; }
/* Widgets */
footer #footer-main .countBars-two .footer-col{ width: 50%; }
footer #footer-main .countBars-three .footer-col{ width: calc( 100% / 3 ); }
footer #footer-main .countBars-four .footer-col, footer #footer-main .countBars-error .footer-col{ width: 25%; }
/* Twitter */
footer #footer-twitter .footer-twitter-label{ width: 320px; float: left; padding-right: 20px; }
footer #footer-twitter .footer-twitter-tweetslide{ float: left; width: calc( 100% - 320px ); }
footer #footer-twitter .footer-twitter-label .twitter-icon{ float: left; width: 90px; text-align: left; font-size: 70px; padding-right: 18px; }
footer #footer-twitter .footer-twitter-label .twitter-text{ float: left; width: 210px; padding-top: 12px; }
footer #footer-twitter .footer-twitter-label .twitter-text .twitter-text-us{ font-size: 14px; line-height: 20px; text-transform: uppercase; padding-bottom: 5px; }
footer #footer-twitter .footer-twitter-label .twitter-text .twitter-text-them{ font-size: 24px; line-height: 30px; padding-bottom: 0; text-transform: uppercase; }
footer #footer-twitter .twitter-button-follow{ padding-left: 90px; }
/* Instagram */
/* Buttons */
/* Social Networks */
/* Go to top link */

/* Single Page (Generic) */
.page .page-content.standard-page{ padding: 55px 35px; }
.page .page-content.uses-siteorigin{ padding: 50px 0 20px; }
/* Page Title */
/* Page Content */
.single-post-container .content-container .post-wrap.entry{ }
.single-post-container .content-container.no-sb #sidebar{ display: none; }

/* Landing Page */

/* Blog */
/* Archive */
#blog-archive-container .archive-container{ padding: 75px 0; }
#blog-archive-container .archive-container .archive-posts, #blog-archive-container .archive-container #sidebar, #single-post-container .container .blog-post, #single-post-container .container #sidebar{ float: left; }
#blog-archive-container .archive-container .archive-posts, #single-post-container .container .blog-post{ width: calc( 100% - 370px ); }
#blog-archive-container .archive-container #sidebar, #single-post-container .container #sidebar{ width: 370px; padding: 0 0 60px 42px; }
#blog-archive .archive-wrapper{ padding-top: 55px; }
/* Archive Pagination */
/* Single */
.single-post-container.singlePost .content-container{ padding: 55px 0; }
/* Navigation */
.post-nextprev-wrap, .single-project #project-next_prev .post-nextprev-wrap{ min-height: 100px; }
/* Sidebar */
/* Meta */

/* Events */
/* Archive */
@media only screen and (max-width: 1150px){
  #events-archive .page-content{ padding: 75px 50px; }
}
@media only screen and (min-width: 1151px){
  #events-archive .page-content{ padding: 75px 60px; }
}
#events-archive .archive-event-post .event-link a{ width: 100%; text-align: center; }
#events-archive .archiveEvent-list{ padding: 75px 0; }
/* Single */
#event-meta-info, .single-event .post .event-map, .single-event .post .post-content, .single-event .post #event-schedule{ padding-bottom: 48px; }
#event-meta-info .meta-location{ width: calc( 100% - 232px ); }
.single-event .post.entry{ padding: 60px 0; }

/* Media */
/* Galleries */
/* Archive */
.galleryContainer{ padding: 64px 0; }
article.photo-gallery{ float: left; }
@media only screen and (min-width: 1201px){
    article.photo-gallery{ width: 25%; }
}
@media only screen and (max-width: 1201px){
    article.photo-gallery{ width: calc( 100% / 3 ); }
}
#gallery-archive #no-galleries .gallery-icon{ padding-bottom: 32px; font-size: 62px; }
/* Single */
article.single-photo{ width: 25%; }
/* Videos */
/* Archive */
#video-archive article{ width: 50%; }
#video-archive article:nth-of-type(odd){ padding-right: 9px; }
#video-archive article:nth-of-type(even){ padding-left: 9px; }
/* Single */
#video-player{ padding-bottom: 0; height: 100vh; }
body.logged-in.admin-bar #video-player{ height: calc( 100vh - 32px ); }
#video-content .entry, #video-content #sidebar{ float: left; }
#video-content .entry{ padding-right: 18px; width: calc( 100% - 325px ); }
#video-content #sidebar{ width: 325px; }
/* Sidebar */
/* Publications */
/* Archive */
#publication-archive .single-publication{ float: left; width: 50%; }
#publication-archive .single-publication:nth-of-type(odd){ padding-right: 14px; }
#publication-archive .single-publication:nth-of-type(even){ padding-left: 14px; }
/* Single */

/* Ask Me Anything */
/* Archive */
#AMAArchive .contentContainer{ padding: 75px 0; }
#AMAArchive .answerPost .postQuestion{ font-size: 48px; }
/* Single */
.answerPost .questionContent{ padding: 75px 25px; }
/* Form */
.amaForm .amaForm-fieldGroup .amaForm-field, .amaForm .amaForm-gdprField .amaForm-fieldLabel, .amaForm .amaForm-gdprField .amaForm-fieldItem{ float: left; }
.amaForm .amaForm-fieldGroup.amaForm-groupTwo .amaForm-field{ width: 50%; box-sizing: border-box; }
.amaForm .amaForm-fieldGroup.amaForm-groupTwo .amaForm-field:nth-of-type(odd){ padding-right: 12px; }
.amaForm .amaForm-fieldGroup.amaForm-groupTwo .amaForm-field:nth-of-type(even){ padding-left: 12px; }
.amaForm .amaForm-gdprField .amaForm-fieldLabel{ width: calc( 100% - 250px ); padding-right: 12px; display: flex; height: 64px; align-items: center; }
.amaForm .amaForm-gdprField .amaForm-fieldLabel label{ display: inline; }
.amaForm .amaForm-gdprField .amaForm-fieldItem{ width: 250px; padding-left: 12px; }
.amaForm .amaForm-gdprField .amaForm-fieldItem .selectric{ width: 238px; }

/* Models */
/* Archive */
#modelArchive{ padding-top: 64px; padding-bottom: 64px; }
.archiveModel{ padding: 0 8px 24px; float: left; width: 25%; }
/* Single */
#modelProfile{ padding: 64px 0; }
#modelProfile-meta, #modelProfile-content{ float: left; }
#modelProfile-meta{ width: 450px; }
#modelProfile-slider{ height: 450px; }
#modelProfile-content{ padding-left: 24px; width: calc( 100% - 450px ); }
#modelProfile #modelProfile-content{ padding: 0 0 48px 24px; }
#modelProfile #modelProfile-networks{  }

#modelProfile-photos #modelPhotos.photoCount-three .modelPhoto:nth-of-type(3n+1), #modelProfile-photos #modelPhotos.photoCount-three .modelPhoto:nth-of-type(3n+2), #modelProfile-photos #modelPhotos.photoCount-five .modelPhoto:nth-of-type(5n+1), #modelProfile-photos #modelPhotos.photoCount-five .modelPhoto:nth-of-type(5n+2), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+1), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+2), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+5), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+6){ width: calc( 25% - 10px ); }
#modelProfile-photos #modelPhotos.photoCount-three .modelPhoto:nth-of-type(3n+3), #modelProfile-photos #modelPhotos.photoCount-four .modelPhoto, #modelProfile-photos #modelPhotos.photoCount-five .modelPhoto:nth-of-type(5n+3), #modelProfile-photos #modelPhotos.photoCount-five .modelPhoto:nth-of-type(5n+4), #modelProfile-photos #modelPhotos.photoCount-five .modelPhoto:nth-of-type(5n+5), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+3), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+4){ width: calc( 50% - 10px ); }

/* Search */
#search-results{ padding: 60px 0; }
/* Advanced Search Bar */
#advanced-search fieldset{ width: 25%; }

/* Front Page */
#front-content{ padding-top: 75px; padding-bottom: 75px; }
/* Slider */
@media only screen and (min-width: 1301px){
    #front-slider .slide-content h1{ font-size: 51px; line-height: 64px; }
    #front-slider .slide-content h2{ font-size: 18px; line-height: 30px; }
}
@media only screen and (max-width: 1300px){
    #front-slider .slide-content h1{ font-size: 45px; line-height: 54px; }
    #front-slider .slide-content h2{ font-size: 16px; line-height: 24px; }
    
}

/* Menu */

/* Comments */
/* Coment Form */
.comment-field.single-col{ float: left; width: 50%; }
.comment-field.single-col:nth-of-type(even){ padding-right: 6px; }
.comment-field.single-col:nth-of-type(odd){ padding-left: 6px; }
/* Comments List */

/* Fancybox */

/* Share Icons */

/* Author Info */

/* Overrides */
/* Caldera Forms */
