/* Main Styles */

/* Layout */
.container{ padding: 0 30px; }
#container{ display: flex; }
.mainContent{ flex: 1; }
#sidebar{ width: 350px; box-sizing: content-box; padding-left: 28px; }

/* Header */
/* Logo */
#siteHeader #headerLogo{ float: left; }
/* Drop Down Menu */
#siteHeader nav{ float: right; padding-top: 10px; padding-bottom: 10px; display: flex; height: 100px; align-items: center; }
#siteHeader nav .menuContainer{ width: 100%; }
#siteHeader nav *{ transition: all .2s ease-in-out; }
#siteHeader nav a{ line-height: 36px; }
#siteHeader nav .menu-wrap{ padding: 32px 0; }
#siteHeader nav .menu{ list-style: none; padding: 0; text-align: right; }
#siteHeader nav .menu li{ display: inline-block; margin: 0 -2px; position: relative; }

#siteHeader nav li.menu-item-has-children a::after{ font-family: 'FontAwesome'; font-size: 10px; vertical-align: top; display: inline-block; }
#siteHeader nav .menu > li.menu-item-has-children > a::after{ line-height: 36px; padding: 0 0 0 8px; }
#siteHeader nav .sub-menu > li.menu-item-has-children > a::after{ line-height: 1.4; padding: 3px 5px 0 0; float: right; }
#siteHeader nav ul > li.menu-item-has-children > a::after{ content: '\f078'; }
#siteHeader nav .sub-menu > li.menu-item-has-children > a::after{ content: '\f054'; }
#siteHeader nav .sub-menu{ padding: 0; border-radius: 0 0 3px 3px; box-shadow: 0px 4px 4px rgba(0,0,0,0.24); position: absolute; background-color: #FAFAFA; width: 250px; left: 0; top: 36px; z-index: 25; list-style: none; text-align: left; margin: 0; opacity: 0; visibility: hidden; display: block; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
#siteHeader nav .sub-menu a{ color: #353535; }
#siteHeader nav .sub-menu a:hover{ color: #222; }
#siteHeader nav li:hover > .sub-menu{ opacity: 1; visibility: visible; }
#siteHeader nav .sub-menu > li{ display: block; width: 100%; margin: 0; text-transform: none; }
#siteHeader nav .sub-menu > li > a{ line-height: 1.4; padding: 12px; display: block; text-decoration: none; transition: color .3s ease, background-color .15s ease-in-out; margin: 0; position: relative; }
#siteHeader nav .sub-menu > li:last-of-type a{ border-bottom: none; }
#siteHeader nav .sub-menu > li > a:hover{ background-color: #892200; color: #FFF; }
#siteHeader nav .sub-menu li > .sub-menu{ position: absolute; left: 245px; top: 0; }
/* Mobile Menu Override */
#siteHeader #menutoggle{ display: none; }
#siteHeader nav .touchClose{ display: none; }

/* Footer */
#siteFooter .footerCol{ width: 25%; }
#siteFooter #footerMain .container > * + * { margin-left: 10px; }

/* Page Wrap */
.mainContent{ padding: 0 0 50px 0; }