/* Loading Animation */
#loading-wrapper{ background-color: #fdfdfd; font-size: 64px; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
#the-loader{ width: 100%; height: 100%; }
.cssload-wraper{
	width:0px;
	display:block;
	margin: 97px auto;
}
	
.cssload-dots {
	font-family: sans-serif;
	font-weight: 100;
}

.cssload-dots:not(:required) {
	overflow: hidden;
	position: relative;
	text-indent: -9749px;
	display: inline-block;
	width: 7px;
	height: 7px;
	background: transparent;
	border-radius: 100%;
	box-shadow: rgb(162,190,228) -14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
		-o-box-shadow: rgb(162,190,228) -14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
		-ms-box-shadow: rgb(162,190,228) -14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
		-webkit-box-shadow: rgb(162,190,228) -14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
		-moz-box-shadow: rgb(162,190,228) -14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	animation: cssload-dots 5.75s infinite ease-in-out;
		-o-animation: cssload-dots 5.75s infinite ease-in-out;
		-ms-animation: cssload-dots 5.75s infinite ease-in-out;
		-webkit-animation: cssload-dots 5.75s infinite ease-in-out;
		-moz-animation: cssload-dots 5.75s infinite ease-in-out;
	transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
}



@keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) -14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	8.33% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) 14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	16.67% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) 14px 14px 0 7px, rgb(213,127,176) 14px 14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	25% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}

	33.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C -14px -14px 0 7px;
	}

	41.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px -14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	50% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	58.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	66.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 -14px -14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	75% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px -14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	83.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px 14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C 14px 14px 0 7px;
	}

	91.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}

	100% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}
}

@-o-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) -14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	8.33% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) 14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	16.67% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) 14px 14px 0 7px, rgb(213,127,176) 14px 14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	25% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}

	33.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C -14px -14px 0 7px;
	}

	41.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px -14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	50% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	58.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	66.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 -14px -14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	75% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px -14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	83.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px 14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C 14px 14px 0 7px;
	}

	91.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}

	100% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}
}

@-ms-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) -14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	8.33% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) 14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	16.67% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) 14px 14px 0 7px, rgb(213,127,176) 14px 14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	25% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}

	33.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C -14px -14px 0 7px;
	}

	41.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px -14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	50% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	58.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	66.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 -14px -14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	75% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px -14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	83.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px 14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C 14px 14px 0 7px;
	}

	91.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}

	100% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}
}

@-webkit-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) -14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	8.33% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) 14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	16.67% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) 14px 14px 0 7px, rgb(213,127,176) 14px 14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	25% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}

	33.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C -14px -14px 0 7px;
	}

	41.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px -14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	50% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	58.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	66.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 -14px -14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	75% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px -14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	83.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px 14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C 14px 14px 0 7px;
	}

	91.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}

	100% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}
}

@-moz-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) -14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	8.33% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) 14px -14px 0 7px, rgb(213,127,176) 14px -14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	16.67% {
		box-shadow: white 0 0 15px 0, rgb(162,190,228) 14px 14px 0 7px, rgb(213,127,176) 14px 14px 0 7px, rgb(82,52,33) 14px 14px 0 7px, rgb(140,140,140) -14px 14px 0 7px;
	}

	25% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}

	33.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C -14px -14px 0 7px;
	}

	41.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px -14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	50% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	58.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 -14px 14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	66.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 -14px -14px 0 7px, #523421 -14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	75% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px -14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px -14px 0 7px, #8C8C8C 14px -14px 0 7px;
	}

	83.33% {
		box-shadow: white 0 0 15px 0, #A2BEE4 14px 14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C 14px 14px 0 7px;
	}

	91.67% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px 14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}

	100% {
		box-shadow: white 0 0 15px 0, #A2BEE4 -14px -14px 0 7px, #D57FB0 14px -14px 0 7px, #523421 14px 14px 0 7px, #8C8C8C -14px 14px 0 7px;
	}
}