/* Main Styles */
.container{ padding: 0 15px; }
p, li, table, tbody, tr, th, td{ font-size: 16px; }
/* Blockquote */
.entry blockquote{ margin: 24px 0; border-top: none; border-bottom: none; border-right: none; }

/* Header */
/* Logo */
header #header-logo{ height: 60px; margin: 0; padding: 0 60px 0 0; width: 100%; text-align: left; }
header #header-logo a{ display: inline-block; }
header #header-logo img{ height: 60px; }
/* Menu */
/* Drop Down Menu */
header nav{ display: none; text-align: left; padding: 0; }
header nav.show{ padding-top: 10px; display: block; }
header nav .menu-container{ display: block; }
header nav a{ display: block; line-height: 48px; padding: 0 18px; }
header nav #header-patreon-button{ display: block; }
header nav #header-patreon-button a{ text-align: left; padding: 0 18px; color: #FFF; background-color: #202020; }

/* Footer */
footer #footer-bottom #footer-socials, footer #footer-bottom #footer-copyright{ width: 100%; float: none; text-align: center; }
/* Social Networks */
footer #footer-socials ul{ text-align: center; }
/* Contact Details */
footer #footer-contacts .footer-contact{ float: none; width: 100%; padding-left: 0; padding-right: 0; }
/* Go to top link */
/* Generic Page */
/* Widgets */
footer #footer-main .footerMain-aboutUs{ width: 100%; float: none; padding-left: 0; padding-bottom: 24px; }
footer #footer-main .footerMain-widgets{ width: 100%; float: none; padding-right: 0; padding-top: 12px; }
footer #footer-main .footer-col{ width: 100%; margin: 0; display: block; padding-bottom: 32px; }
footer #footer-main .footer-col:last-of-type{ padding-bottom: 0; }
/* Newsletter */
body.home footer #footer-newsletter .newsletterSignupForm-wrap{ padding: 75px 0; }
footer #footer-newsletter form{ width: 100%; }
footer #footer-main .footerMain-widgets .footerMain-footerWidget{ float: none; width: 100%; }
footer #footer-main .footerMain-widgets .footerWidget-widgetOne{ padding-right: 0; padding-bottom: 24px; }
footer #footer-main .footerMain-widgets .footerWidget-widgetTwo{ padding-left: 0; padding-top: 12px; }
/* Instagram */
/* Twitter */
footer #footer-twitter .follow-button{ max-width: 300px; margin: 0 auto; }
footer #footer-twitter .footer-twitter-tweetslide .unslider{ height: 200px; }
footer #footer-twitter .footer-twitter-tweetslide .unslider .tweet-container li{ height: 180px; }
@media only screen and (max-width: 450px){ 
    footer #footer-twitter .footer-twitter-tweetslide .unslider{ height: 250px; }
    footer #footer-twitter .footer-twitter-tweetslide .unslider .tweet-container li{ height: 230px; }
}
footer #footer-twitter .footer-twitter-label{ width: 100%; }
footer #footer-twitter .footer-twitter-label-wrap{ text-align: center; padding-bottom: 18px; }
footer #footer-twitter .footer-twitter-tweetslide{ width: 100%; }
footer #footer-twitter .footer-twitter-label .twitter-icon{ display: inline-block; vertical-align: middle; width: 42px; text-align: left; font-size: 36px; padding-right: 9px; }
footer #footer-twitter .footer-twitter-label .twitter-text{ display: inline-block; vertical-align: middle; line-height: 40px; }
footer #footer-twitter .footer-twitter-label .twitter-text .twitter-text-us{ font-size: 20px; line-height: 30px; text-transform: uppercase; padding-bottom: 5px; display: inline; }
footer #footer-twitter .footer-twitter-label .twitter-text .twitter-text-them{ font-size: 20px; line-height: 30px; padding-bottom: 0; text-transform: uppercase; display: inline; }
footer #footer-twitter .unslider-nav{ width: 75%; }
footer #footer-twitter .unslider-nav ol li{ width: 5.5%; margin: 0 4px; }
/* Newsletter */
footer #footer-newsletter .ccdClient-mailchimpForm .mailchimpForm-name .mailchimpForm-field{ width: 100%; float: none; padding-bottom: 12px; }
footer #footer-newsletter .newsletterText, footer #footer-newsletter .ccdClient-mailchimpForm{ width: 100%; padding-left: 0; padding-right: 0; }
footer #footer-newsletter .newsletterText{ padding-bottom: 16px; }
footer #footer-newsletter{ padding-top: 45px; padding-bottom: 45px; }
footer #footer-newsletter #footer-newsletter-label, footer #footer-newsletter #footer-newsletter-form{ display: block; width: 100%; padding-top: 18px; }
footer #footer-newsletter #footer-newsletter-form .emailadd, footer #footer-newsletter #footer-newsletter-form .submitadd{ width: 100%; }
/* Links */

/* Single Page (Generic) */
.pagewide-title .inner-title{ padding-top: 40px; padding-bottom: 40px; }
.pagewide-title .page-title, #single-project-title .project-title, #single-event-title .event-title{ font-size: 48px; }
.single-post-container .content-container .post-wrap.entry{ padding: 50px 15px; }
/* Page Title */

/* Blog */
/* Archive */
#blog-archive-container .archive-container{ padding: 50px 0; }
#blog-archive-container .archive-container .post-container{ padding: 0 0 35px; }
/* Archive Pagination */
/* Single */
.singlePost-loop .loopContent{ padding: 32px 0; }
/* Navigation */
/* Next / Previous Post */
.post-nextprev-wrap, .single-project #project-next_prev .post-nextprev-wrap{ width: 100%; float: left; }
.post-next-prev .next-post .nextprev-link .nextprev-icon, .single-project #project-next_prev .next-post .nextprev-icon{ right: auto; left: 0; }
.post-next-prev .next-post .nextprev-link .nextprev-content, .single-project #project-next_prev .next-post .nextprev-content{ margin-right: 0; margin-left: 45px; text-align: left; }
/* Sidebar */
/* Meta */
.postMeta-item{ width: 100% !important; float: none; padding-left: 0 !important; padding-right: 0 !important; padding-bottom: 0; }
.postMeta-item:last-of-type{ padding-bottom: 25px; }
/* Widget */
.archive-container .archive-posts .blog-post .postContent h2, .ccd-recentposts-layout-1c3r .blog-post .postContent h2{ font-size: 26px; padding-bottom: 10px; }
.archive-container .archive-posts .blog-post .postContent .postMeta p, .ccd-recentposts-layout-1c3r .blog-post .postContent .postMeta p{ padding-bottom: 7px; }

/* Front Page */
#front-page-links{ display: none; }
#front-content{ padding-top: 50px; padding-bottom: 50px; }
/* Slider */
#front-slider .slide-content .slide-content-wrapper{ padding: 0 0 15px; }
#front-slider .slide-content .container{ padding: 0 45px; }
#front-slider .slide-content h1{ padding-bottom: 12px; font-size: 24px; }
#front-slider .slide-content h2{ font-size: 16px; }
#front-slider.unslider .unslider-nav li{ width: 7px; height: 7px; }

/* Menu */

/* Events */
/* Archive */
#events-archive .archive-event-post .event-wrap > div, #event-meta-info .event-meta{ float: none; box-sizing: border-box; }
#events-archive .archive-event-post .event-displayDate, #event-meta-info .meta-date{ width: 220px; margin: 0 auto; padding-right: 0; padding-bottom: 18px; }
#events-archive .archive-event-post .event-details{ width: 100%; padding-left: 0; }
#events-archive .page-content{ padding: 35px 0; }
#events-archive .archive-event-post .event-link a{ width: 100%; text-align: center; }
#events-archive .archiveEvent-list{ padding: 50px 0; }
/* Single */
.single-event  .post.entry{ padding: 60px 0; }
#event-meta-info, .single-event .post .event-map, .single-event .post .post-content, .single-event .post #event-schedule{ padding-bottom: 48px; }
#event-speakers #event-speakers-list li{ width: 50%; }
@media only screen and (max-width: 450px){
    #event-speakers #event-speakers-list li{ width: 100%; max-width: 300px; }
}
/* Modal Box */
.modal-box { width: 85vw; height: 85vh; }
.modal-box .modal-content{ width: 100%; }
.modal-box .modal-photo-wrap{ display: none; }
.modal-box .modal-content-wrap{ width: 100%; }
/* Schedule */
#event-schedule li{ padding: 11px 19px; }
#event-schedule li .event-schedule-item{ height: auto; min-height: auto; }
#event-schedule li .event-schedule-item-time{ width: 100%; text-align: left; font-size: 30px; line-height: 45px; padding-bottom: 11px; }
#event-schedule li .event-schedule-item-info{ width: 100%; padding: 0 0 11px; }
#event-schedule li .event-schedule-item .event-schedule-item-title{ font-size: 17px; font-weight: 500; margin: 0 0 7px; }
#event-meta-info .meta-location .event-location .button-getDirections{ display: block; margin-left: 0; margin-top: 12px; margin-bottom: 12px; }
/* Meta */
.meta-info-box .meta-data.event-meta:nth-of-type(1){ padding: 0 0 18px; }
.meta-info-box .meta-data.event-meta:nth-of-type(2){ padding: 0; text-align: center; }
@media only screen and (max-width: 600px){
    .meta-info-box .meta-data.event-meta:nth-of-type(2){ padding: 0 0 18px; }
    .meta-info-box .meta-data.event-meta:nth-of-type(3){ padding: 0; }
}

/* Media */
/* Galleries */
/* Archive */
@media only screen and (min-width: 551px){
  article.photo-gallery{ width: 50%; float: left; }
}
@media only screen and (max-width: 550px){
  article.photo-gallery{ width: 100%; margin-left: 0; margin-right: 0; }
}
/* Single */
@media only screen and (min-width: 551px){
  article.single-photo{ width: 50%; }
}
@media only screen and (max-width: 550px){
  article.single-photo{ width: 100%; }
}
/* Videos */
/* Archive */
article.video-gallery{ width: 100%; margin-left: 0; margin-right: 0; }
/* Single */
/* Sidebar */
.video-sidebar li{ width: 100%; margin-left: 0; margin-right: 0; }
/* Publications */
/* Archive */
#publication-archive .single-publication .publication-cover-wrap, #publication-archive .single-publication .publication-details{ width: 100%; }
#publication-archive .single-publication .publication-wrap{ padding: 24px 18px; }
#publication-archive .single-publication .publication-cover{ padding-bottom: 100%; }
/* Single */
.single-publication .publication-cover-wrap, .single-publication .publication-information{ width: 100%; }
.single-publication .publication-information{ padding: 32px 0; }
.single-publication .publication-information .publication-meta, .single-publication .publication-information .publication-content, .single-publication .publication-information .publication-download{ padding-left: 0; padding-right: 0; }
.single-publication .publication-information .publication-download{ text-align: center; }

/* Ask Me Anything */
/* Archive */
/* Single */
/* Form */
.amaForm .amaForm-gdprField .amaForm-fieldItem .selectric-amaForm-input{ width: 100% !important; }

/* Models */
/* Archive */
#modelArchive{ padding-top: 48px; padding-bottom: 48px; }
.archiveModel{ padding: 0 8px 24px; }
@media only screen and (min-width: 501px){
  .archiveModel{ float: left; width: 50%; }
}
@media only screen and (max-width: 500px){
  .archiveModel{ width: 100%; }
}
/* Single */
#modelProfile{ padding: 48px 0; }
#modelProfile #modelProfile-networks{  }
#modelProfile-photos #modelPhotos .modelPhoto{ height: 150px; }
#modelProfile-metaData .modelProfile-metaItem .modelProfile-metaLabel, #modelProfile-metaData .modelProfile-metaItem .modelProfile-metaData{ width: 100%; }
#modelProfile-metaData .modelProfile-metaItem .modelProfile-metaData{ padding-left: 0; text-align: left; }
@media only screen and (min-width: 501px){
  #modelProfile-meta, #modelProfile-content{ float: left; }
  #modelProfile-content{ padding-left: 24px; width: calc( 100% - 250px ); }
  #modelProfile #modelProfile-content{ padding: 0 0 48px 24px; }
  #modelProfile-meta{ width: 250px; }
  #modelProfile-slider{ height: 250px; }
  #modelProfile-photos #modelPhotos .modelPhoto{ width: calc( 50% - 10px ) !important; }
}
@media only screen and (max-width: 500px){
  #modelProfile #modelProfile-content{ padding: 24px 0 48px; }
  #modelProfile-slider{ padding-bottom: 100%; }
  #modelProfile-photos #modelPhotos .modelPhoto{ width: calc( 100% - 10px ) !important; }
}

/* Search */
#search-results{ padding: 60px 0; }
/* Advanced Search Bar */
@media only screen and (min-width: 501px){
  #advanced-search fieldset{ width: 50%; }
}
@media only screen and (max-width: 500px){
  #advanced-search fieldset{ width: 100%; }
}

/* Comments */
/* Coment Form */
/* Comments List */

/* Fancybox */

/* Share Icons */

/* Author Info */

/* Overrides */
/* Caldera Forms */
/* Widgets */
/* Quotation Widget */
.quoteWidget .quoteWrap{ padding: 32px 10px; }
/* Titles */
.ccdClient-headingTitle.headingTitle-smallSize .ccdClient-headingTitle-h1, .ccdClient-headingTitle.headingTitle-mediumSize .ccdClient-headingTitle-h1, .ccdClient-headingTitle.headingTitle-largeSize .ccdClient-headingTitle-h1{ font-size: 28px; }
.ccdClient-headingTitle.headingTitle-smallSize .ccdClient-headingTitle-h2, .ccdClient-headingTitle.headingTitle-mediumSize .ccdClient-headingTitle-h2, .ccdClient-headingTitle.headingTitle-largeSize .ccdClient-headingTitle-h2{ font-size: 16px; }
/* CTA */
.cta-data h2{ font-size: 26px; }
/* Large Testimonial */
/* Opening Times */