/* Main Styles 8/

/* Layout */
.container{ padding: 0 10px; }

/* Header */
/* Logo */
#siteHeader #headerLogo{ height: 60px; margin: 0; padding: 20px 60px 20px 0; width: 100%; text-align: left; box-sizing: content-box; }
#siteHeader #headerLogo a{ display: inline-block; }
#siteHeader #headerLogo img{ height: 60px; }
/* Menu */
/* Drop Down Menu */
#siteHeader #menutoggle{ right: 25px; top: 25px; }
#siteHeader nav{ display: none; text-align: left; padding: 0; width: 100%; }
#siteHeader nav.show{ display: block; }
#siteHeader nav .menu-container{ display: block; }
#siteHeader nav a{ display: block; line-height: 48px; padding: 0 18px; }

/* Footer */
#siteFooter #footerMain .container{ display: block; }
#siteFooter .footerCol{ width: 100%; flex: none; }

/* Page Wrap */
.mainContent{ padding: 25px 0; }