/* Main Styles 8/

/* Layout */
.container{ padding: 0 10px; }

/* Header */
/* Logo */
header #headerLogo{ height: 60px; margin: 0; padding: 20px 60px 20px 0; width: 100%; text-align: left; box-sizing: content-box; }
header #headerLogo a{ display: inline-block; }
header #headerLogo img{ height: 60px; }
/* Menu */
/* Drop Down Menu */
header #menutoggle{ right: 25px; top: 25px; }
header nav{ display: none; text-align: left; padding: 0; width: 100%; }
header nav.show{ display: block; }
header nav .menu-container{ display: block; }
header nav a{ display: block; line-height: 48px; padding: 0 18px; }

/* Footer */
footer #zeroTheme-footerMain .container{ display: block; }
footer .footerCol{ width: 100%; flex: none; }

/* Page Wrap */
.mainContent{ padding: 25px 0; }