/* Main Styles */

/* Blockquote */
.entry blockquote{ margin: 24px 0; }

/* Header */
header #header-main .container{ padding: 0 12px; }
/* Logo */
header #header-logo{ height: 100px; margin: 0; padding: 10px 100px 10px 20px; width: 100%; text-align: left; }
header #header-logo a{ display: inline-block; }
header #header-logo img{ height: 80px; }
/* Menu */
header #menutoggle{ top: 25px; right: 35px; z-index: 20; }
/* Drop Down Menu */
header nav{ display: none; text-align: left; padding: 0; }
header nav.show{ padding-top: 10px; display: block; }
header nav .menu-container{ display: block; }
header nav a{ display: block; line-height: 48px; padding: 0 18px; }
header nav #header-patreon-button{ display: block; }
header nav #header-patreon-button a{ text-align: left; padding: 0 18px; color: #FFF; background-color: #202020; }

/* Footer */
footer #footer-bottom #footer-socials, footer #footer-bottom #footer-copyright{ width: 100%; float: none; text-align: center; }
/* Social Networks */
footer #footer-socials ul{ text-align: center; }
/* Go to top link */
/* Generic Page */
/* Widgets */
footer #footer-main .footerMain-aboutUs{ width: 100%; float: none; padding-left: 0; padding-bottom: 24px; }
footer #footer-main .footerMain-widgets{ width: 100%; float: none; padding-right: 0; padding-top: 12px; }
footer #footer-main .footer-col{ width: 50%; }
footer #footer-main .footer-col:first-of-type, footer #footer-main .footer-col:nth-of-type(2){ padding-bottom: 48px; }
/* Newsletter */
footer #footer-newsletter{ padding-top: 75px; padding-bottom: 75px;}
footer #footer-newsletter #footer-newsletter-label, footer #footer-newsletter #footer-newsletter-form{ display: inline-block; margin: 0 -2px; }
footer #footer-newsletter #footer-newsletter-label{ width: 35%; padding-right: 17px; }
footer #footer-newsletter #footer-newsletter-form{ width: 65%; padding-left: 17px; }
footer #footer-newsletter #footer-newsletter-form form{ height: 53px; }
footer #footer-newsletter #footer-newsletter-form input{ float: left; }
footer #footer-newsletter #footer-newsletter-form .emailadd{ width: calc( 100% - 250px ); }
footer #footer-newsletter #footer-newsletter-form .submitadd{ width: 250px; }
footer #footer-newsletter .ccdClient-mailchimpForm .mailchimpForm-name{ padding-bottom: 11px; padding-top: 4px; }
footer #footer-newsletter .ccdClient-mailchimpForm .mailchimpForm-name .mailchimpForm-field{ width: 50%; }
footer #footer-newsletter .ccdClient-mailchimpForm .mailchimpForm-name .mailchimpForm-field:first-of-type{ padding-right: 6px; }
footer #footer-newsletter .ccdClient-mailchimpForm .mailchimpForm-name .mailchimpForm-field:last-of-type{ padding-left: 6px; }
/* Twitter */
footer #footer-twitter .footer-twitter-tweetslide .unslider{ height: 200px; }
footer #footer-twitter .footer-twitter-tweetslide .unslider .tweet-container li{ height: 180px; }
footer #footer-twitter .footer-twitter-label{ width: 280px; float: left; padding-right: 20px; padding-top: 20px; }
footer #footer-twitter .footer-twitter-tweetslide{ float: left; width: calc( 100% - 280px ); }
footer #footer-twitter .footer-twitter-label .twitter-icon{ float: left; width: 90px; text-align: left; font-size: 70px; padding-right: 18px; }
footer #footer-twitter .footer-twitter-label .twitter-text{ float: left; width: 170px; padding-top: 12px; }
footer #footer-twitter .footer-twitter-label .twitter-text .twitter-text-us{ font-size: 14px; line-height: 20px; text-transform: uppercase; padding-bottom: 5px; }
footer #footer-twitter .footer-twitter-label .twitter-text .twitter-text-them{ font-size: 24px; line-height: 30px; padding-bottom: 0; text-transform: uppercase; }
footer #footer-twitter .twitter-button-follow{ padding-left: 90px; }
/* Instagram */
/* Buttons */

/* Single Page (Generic) */
.pagewide-title .inner-title{ padding-top: 80px; }
.page .landing-page-container .title-padding{ height: 120px; }
.single-post-container .content-container .post-wrap.entry{ padding: 60px 25px; }
/* Page Title */

/* Blog */
/* Archive */
#blog-archive-container .archive-container{ padding: 60px 0; }
/* Single */
.singlePost-loop .loopContent{ padding: 32px 24px; }
/* Navigation */
.post-nextprev-wrap, .single-project #project-next_prev .post-nextprev-wrap{ min-height: 100px; }
/* Sidebar */
#blog-archive-container .archive-container #sidebar, #single-post-container .container #sidebar{ padding: 0 20px; }
/* Meta */

/* Front Page */
#front-page-links{ position: inherit; bottom: auto; left: auto; right: auto; }
#front-page-links .container{ padding: 0; }
#front-page-links li{ width: 50%; }
#front-content{ padding-top: 50px; padding-bottom: 50px; }
/* Slider */
#front-slider .slide-content .slide-content-wrapper{ padding: 160px 0; }

/* Menu */

/* Events */
#events-archive .page-content{ padding: 60px 15px; }
/* Archive */
#events-archive .archiveEvent-list{ padding: 60px 0; }
/* Single */
.single-event  .post.entry{ padding: 60px 0; }
#event-meta-info, .single-event .post .event-map, .single-event .post .post-content, .single-event .post #event-schedule{ padding-bottom: 48px; }
#event-speakers #event-speakers-list li{ width: 25%; }#events-archive .archive-event-post .event-link a{ width: 100%; text-align: center; }
/* Modal Box */
.modal-box { width: 750px; height: 450px; }
.modal-box .modal-photo-wrap{ width: 300px; }
.modal-box .modal-content-wrap{ width: calc( 100% - 300px ); }

/* Search */
#search-results{ padding: 60px 0; }
/* Advanced Search Bar */
#advanced-search fieldset{ width: 33%; }

/* Media */
/* Galleries */
/* Archive */
@media only screen and (min-width: 851px){
  article.photo-gallery{ width: calc( 100% / 3 ); }
}
@media only screen and (max-width: 850px){
  article.photo-gallery{ width: 50%; }
}
article.photo-gallery{ float: left; }
/* Single */
article.single-photo{ width: 33.33%; }
/* Videos */
/* Archive */
#video-archive article{ width: 50%; }
#video-archive article:nth-of-type(odd){ padding-right: 9px; }
#video-archive article:nth-of-type(even){ padding-left: 9px; }
/* Single */
#video-player .container{  }
/* Sidebar */
.video-sidebar li{ width: calc( 50% - 12px ); }
.video-sidebar li:nth-of-type(odd){ margin-right: 6px; }
.video-sidebar li:nth-of-type(even){ margin-left: 6px; }
/* Publications */
/* Archive */
/* Single */

/* Models */
/* Archive */
#modelArchive{ padding-top: 48px; padding-bottom: 48px; }
.archiveModel{ padding: 0 8px 24px; float: left; width: calc( 100% / 3 ); }
/* Single */
#modelProfile{ padding: 48px 0; }
#modelProfile-meta, #modelProfile-content{ float: left; }
#modelProfile-meta{ width: 325px; }
#modelProfile-slider{ height: 325px; }
#modelProfile-content{ padding-left: 24px; width: calc( 100% - 325px ); }
#modelProfile #modelProfile-content{ padding: 0 0 48px 24px; }
#modelProfile #modelProfile-networks{  }
#modelProfile-photos #modelPhotos .modelPhoto{ height: 250px; }

#modelProfile-photos #modelPhotos.photoCount-three .modelPhoto:nth-of-type(3n+1), #modelProfile-photos #modelPhotos.photoCount-three .modelPhoto:nth-of-type(3n+2), #modelProfile-photos #modelPhotos.photoCount-five .modelPhoto:nth-of-type(5n+1), #modelProfile-photos #modelPhotos.photoCount-five .modelPhoto:nth-of-type(5n+2), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+1), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+2), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+5), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+6){ width: calc( 25% - 10px ); }
#modelProfile-photos #modelPhotos.photoCount-three .modelPhoto:nth-of-type(3n+3), #modelProfile-photos #modelPhotos.photoCount-four .modelPhoto, #modelProfile-photos #modelPhotos.photoCount-five .modelPhoto:nth-of-type(5n+3), #modelProfile-photos #modelPhotos.photoCount-five .modelPhoto:nth-of-type(5n+4), #modelProfile-photos #modelPhotos.photoCount-five .modelPhoto:nth-of-type(5n+5), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+3), #modelProfile-photos #modelPhotos.photoCount-six .modelPhoto:nth-of-type(6n+4){ width: calc( 50% - 10px ); }

/* Comments */
/* Coment Form */
/* Comments List */

/* Fancybox */

/* Share Icons */

/* Author Info */

/* Overrides */
/* Caldera Forms */
/* Widgets */
/* Opening Times */