/* Main Styles 8/

/* Layout */
.container{ padding: 0 20px; }

/* Header */
/* Menu */
/* Drop Down Menu */
#siteHeader nav{ display: none; text-align: left; padding: 0; width: 100%; }
#siteHeader nav.show{ padding-top: 10px; display: block; }
#siteHeader nav .menu-container{ display: block; }
#siteHeader nav a{ display: block; line-height: 48px; padding: 0 18px; }

/* Footer */
#siteFooter #footerMain .container{ flex-flow: row wrap; }
#siteFooter .footerCol{ width: calc( 50% - 10px ); }
#siteFooter .footerCol:nth-of-type(odd){ margin-right: 10px; }
#siteFooter .footerCol:nth-of-type(even){ margin-left: 10px; }

/* Page Wrap */
.mainContent{ padding: 35px 0; }