/* CSS Variables */
:root {
    --primary-color: #432E30;
    --primary-color-light: #8E7474;
    --text-color: #4A4A4A;
    --accent-color: #FE6A6B;
    --accent-color-light: #FFE4E4;
    --accent-color-dark: #B94B4C;
    --heart-color: #8D1332;
    --white-color: #FAFBFC;
    --light-gray-color: #C6CBD1;
    --medium-gray-color: #959DA5;
    --dark-gray-color: #444D56; 
    --bg-color: #F8F8FA;
    --code-bg-color: #F0E8E8;
}

/* Normalised */
html, body{ padding: 0; margin: 0; font-family: 'Nunito Sans', sans-serif; background-color: white; color: var(--text-color); }
h1,h2,h3,h4,h5,h6,p,li{ margin: 0; padding: 0 0 12px; }
h1,h2,h3,h4,h5,h6{ font-family: 'Montserrat', sans-serif; font-weight: 400; }
h1{ font-size: 2.5rem; }
h2{ font-size: 2.188rem; }
h3{ font-size: 1.875rem; }
h4, h5, h6{ font-size: 1.5rem; }
strong, b{ font-weight: 700; }
em, i{ font-style: italic; }
p{ font-weight: 300; font-size: 1rem; line-height: 1.5; }
a{ color: var(--accent-color); }
a:hover{ color: var(--accent-color-dark); }
hr{ padding: 1rem 0; border: 0; border-bottom: 1px solid var(--bg-color); }
*{ box-sizing: border-box; }
.container{ max-width: 1250px; width: 100%; margin: 0 auto; padding: 0 15px; }
.container::before, .container::after, .clearfix::before, .clearfix::after, .clear::before, .clear::after{ content: ""; display: table; }
.container::after, .clearfix::after, .clear::after{ clear: both; }

/* Row / Column styles */
.row{ display: flex; flex-wrap: wrap; }
.grid-row{ display: grid; overflow: hidden; }
[class^="col-"], [class*=" col-"] { padding: 15px; }
.row[class*=" col-"] { padding: 0; }
.col-0{ display: none; }
.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }
.col-center{ margin: 0 auto; }
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  [class*="col-"] { width: 100%; padding-left: 0; padding-right: 0; }
}

/* Text */
.content__section .container > .section__title{ padding: 0 15px 12px; }

/* Buttons */
.button--primary{ padding: 10px 22px; background-color: var(--accent-color); color: white; position: relative; text-decoration: none; border: 0; transition: all .3s ease-out; display: block; width: fit-content; }
.button--primary:after { position: absolute; content: ""; width: 1rem; height: 1rem; background-color: var(--accent-color-light); right: -0.4rem; top: -0.4rem; transition: all 0.3s ease-out; }
.button--primary:hover { text-shadow: 0px 2px 4px var(--accent-color-dark); color: white; transform: translate3D(0, -3px, 0); }
.button--primary:hover::after { transform: rotate(90deg); }
.button--secondary { padding: 10px 22px; border: 2px solid var(--primary-color); color: var(--primary-color); text-decoration: none; transition: all 0.5s ease-out; }
.button--secondary:hover { border-color: var(--accent-color); background-color: var(--accent-color); color: #FFF; }

/* Links */
.link { text-decoration: none; transition: all 0.3s ease-out; }
.link:hover { color: var(--accent-color); }
.link--dark { color: var(--primary-color); }
.link--light { color: var(--accent-color); }

/* Navbar */
.navbar{ display: grid; grid-template-columns: 90px auto; background-color: var(--bg-color); padding: 1rem 0; }
.navbar .logo, .navbar .menu{ height: 50px; line-height: 50px; }
.navbar .logo{ margin: 0 1rem 0 2rem; }
.navbar .logo a{ display: block; width: 100%; height: 100%; background: url('../images/zero-0.svg') no-repeat; background-size: contain; background-position: center; box-sizing: content-box; }
.navbar .menu{ margin: 0; text-align: right; overflow: hidden; list-style: none; padding: 0 1rem 0 0; }
.navbar .menu .toggle { display: none; position: relative; }
.navbar .menu .toggle span, .navbar .menu .toggle span:before, .navbar .menu .toggle span:after { content: ''; position: absolute; height: 2px; width: 18px; border-radius: 2px; background: var(--primary-color); display: block; cursor: pointer; transition: all 0.3s ease-in-out; right: 0; }
.navbar .menu .toggle span:before { top: -6px; }
.navbar .menu .toggle span:after { bottom: -6px; }
.navbar .menu .toggle.open span{ background-color: transparent; }
.navbar .menu .toggle.open span:before, .toggle.open span:after { top: 0; }
.navbar .menu .toggle.open span:before { transform: rotate(45deg); }
.navbar .menu .toggle.open span:after { transform: rotate(-45deg); }
.navbar .menu .menu__item { padding: 0 1rem; display: inline-block; }
.navbar .menu .menu__item.toggle { display: none; }

/* Table */
table { border-collapse: collapse; width: 100%; transition: color .3s ease-out; margin-bottom: 2rem; }
table td, table th { border: 1px solid var(--light-gray-color); padding: 0.8rem; font-weight: 300; }
table th { text-align: left; color: #FFF; font-weight: 700; background-color: var(--dark-gray-color); border-color: var(--dark-gray-color); }
table td:first-child { background-color: var(--medium-gray-color); font-weight: 600; color: #FFF; border-color: var(--medium-gray-color); }

/* Alert notification */

/* Alert Bar */
.alertBox{ overflow: hidden; margin: 24px 12px; }
.alertBox .wrap{ display: flex; width: 100%; background-color: #FFF; box-shadow: 0 4px 7px rgba(0,0,0,.2); border-right: solid 5px; margin-bottom: 24px; }
.alertBox .alertIcon{ width: 28px; min-height: 28px; box-sizing: content-box; margin: 0; padding: 24px; font-size: 28px; }
.alertBox .alertIcon .icon{ display: block; }
.alertBox .alertIcon .icon::before{ display: block; font-family: 'IcoMoon'; width: 28px; line-height: 28px; text-align: center; }
.alertBox .alertContent{ flex: 1; padding: 20px 24px; }
.alertBox .alertContent .alertTitle{ font-size: 21px; font-weight: 600; }
.alertBox .alertContent p:last-of-type{ padding-bottom: 0; }
.alertBox.successMsg .wrap{ border-right-color: #0c7c0c; }
.alertBox.successMsg .alertIcon{ background-color: #0c7c0c; color: #FFF; }
.alertBox.successMsg .alertIcon .icon::before{ content: "\f1e3"; }
.alertBox.successMsg .alertContent .alertTitle{ color: #0c7c0c; }
.alertBox.errorMsg .wrap{ border-right-color: #a81c1c; }
.alertBox.errorMsg .alertIcon{ background-color: #a81c1c; color: #FFF; }
.alertBox.errorMsg .alertIcon .icon::before{ content: "\e900"; }
.alertBox.errorMsg .alertContent .alertTitle{ color: #a81c1c; }
.alertBox.alertMsg .wrap{ border-right-color: #cfa20c; }
.alertBox.alertMsg .alertIcon{ background-color: #e2b41c; color: #FFF; }
.alertBox.alertMsg .alertIcon .icon::before{ content: "\f4a3"; }
.alertBox.alertMsg .alertContent .alertTitle{ color: #cfa20c; }
.alertBox.infoMsg .wrap{ border-right-color: #3742a1; }
.alertBox.infoMsg .alertIcon{ background-color: #3742a1; color: #FFF; }
.alertBox.infoMsg .alertIcon .icon::before{ content: "\f4f6"; }
.alertBox.infoMsg .alertContent .alertTitle{ color: #3742a1; }

/* Footer */
.footer{ background-color: var(--primary-color); padding: 1rem 2rem; color: white; }
.footer p{ padding: 5px 0; font-size: 14px; }
.footer a{ color: var(--medium-gray-color); text-decoration: none; }
.footer a:hover{ color: var(--light-gray-color); }

/* Hero section */
.hero{ background-color: var(--bg-color); padding: 2rem 0; margin: 0 auto 0 0; display: flex; }
.hero .hero__content, .hero .hero__image{ position: relative; }
.hero .hero__title{ font-weight: 300; color: var(--primary-color); font-size: 48px; }
.hero .hero__content .caption{ padding-top: 8px; }
.hero .hero__content .hilite{ width: fit-content; padding: 6px 8px; color: var(--white-color); background-color: var(--primary-color); border-radius: 4px; }
@media only screen and (max-width: 768px) {
  .hero .hero__image{ display: none; }
}
@media only screen and (min-width: 769px) {
  .hero{ min-height: 350px; }
  .hero .hero__content, .hero .hero__image{ min-height: 100px; }
  .hero .hero__content{ display: flex; align-items: center; justify-content: center; }
  .hero .hero__content .hero__wrap{ width: 100%; padding: 36px 0; }
  .hero .hero__image .image{ background-image: url('../images/imac-project_zero.png'); background-size: contain; background-position: center; background-repeat: no-repeat; height: 350px; position: absolute; width: 100%; }  
}

/* Download Button */
.install__banner{ background-color: var(--accent-color-dark); color: #FFF; padding: 15px 0; }
.install__banner .button__github{ padding: 9px 18px; background-color: #eff3f6; background-image: linear-gradient(to bottom, #fafbfc, #e4ebf0); background-repeat: repeat-x; background-size: 110% 110%; display: inline-block; font-weight: 400; cursor: pointer; border: 1px solid #d1d2d3; border-radius: 0.25em; color: #222; text-decoration: none; }
.install__banner .button__github:hover{ background-image: linear-gradient(to bottom, #f0f3f6, #dce3ec); border-color: #afb1b2; background-color: #e6ebf1; }
.install__banner .button__github .icon{ padding-right: 7px; display: inline-block; vertical-align: top; width: 36px; line-height: 36px; font-size: 32px; text-align: center; }
.install__banner .button__github .button__labels{ display: inline-block; vertical-align: top; padding-left: 6px; }
.install__banner .button__github .button__labels .label__top{ display: block; font-weight: 800; font-size: 12px; text-transform: uppercase; }
.install__banner .button__github .button__labels .label__text{ font-size: 16px; line-height: 1; }

/* Project Description section */

/* Page Banner Image */
#page__banner.banner__image{ background-size: cover; background-position: center; background-attachment: fixed; }

/* Project Features section */
#page__features.content__section{ background-color: var(--dark-gray-color); color: var(--white-color); }
#page__features .project__feature .feature__icon{ font-size: 42px; line-height: 56px; padding-bottom: 12px; display: block; }
#page__features .project__feature .feature__title{ padding-bottom: 0; font-size: 21px; }
#page__features .project__feature .feature__desc{ padding-top: 0.5rem; padding-bottom: 0; }

/* Project Changelog */
#page__changelog.content__section{ background-color: var(--bg-color); }
#page__changelog .changelog__item{ padding: 15px; display: flex; }
#page__changelog .changelog__meta small{ color: var(--primary-color-light); font-weight: 200; letter-spacing: 1px; }
#page__changelog .changelog__detail ul{ list-style: none; margin: 0; padding: 0; }
#page__changelog .changelog__title{ margin-bottom: 0; }
#page__changelog .changelog__callout{ margin: 3rem auto 2rem auto; text-align: center; }
#page__changelog .changelog .label{ border-radius: 3px; padding: 0 16px 0 6px; margin-bottom: 11px; display: block; width: fit-content; text-transform: uppercase; }
#page__changelog .changelog .label.added{ background-color: #26800f; color: #FFF; }
#page__changelog .changelog .label.changed{ background-color: #e99f17; color: #FFF; }
#page__changelog .changelog .label.updated{ background-color: #2a84d8; color: #FFF; }
#page__changelog .changelog .label.removed{ background-color: #5c0e16; color: #FFF; }
#page__changelog .changelog .label.initial{ background-color: #921381; color: #FFF; }
#page__changelog .changelog .label span{ line-height: 38px; display: inline-block; vertical-align: middle; }
#page__changelog .changelog .label .icon{ padding: 0; font-size: 21px; width: 38px; text-align: center; }
#page__changelog .changelog .log code{ padding: 5px 8px; color: var(--white-color); background-color: var(--primary-color); border-radius: 4px; margin: 0 2px; }

/* Project Documentation */
#page__cta.content__section{ text-align: center; }
#page__cta .button--primary{ margin: 12px auto 0; }

/* Page Love Section */
#page__love.content__section{ background-color: var(--medium-gray-color); color: var(--white-color); text-align: center; }
#page__love .love__title{ font-size: 36px; font-weight: 300; }
#page__love .love__content{ font-size: 30px; font-weight: 300; }
#page__love .love__content .love__heart{ color: var(--heart-color); }


@media only screen and (max-width: 768px){
  .navbar{ grid-template-columns: 90px auto; }
  .navbar .menu .menu__item{ display: none; }
  .navbar .menu .menu__item.toggle { display: inline-block; padding: 1rem; }
  .navbar .menu { text-align: right; padding: 0.5rem 1rem; height: auto; line-height: unset; }
  .navbar .toggle { display: block; }
  .navbar .menu.responsive .menu__item:not(:first-child) { display: block; padding: 0 0 0.5rem 0; }
  .content__section{ padding: 35px 0; }
  #page__banner.banner__image{ background-image: url('../images/wp-banner-640.jpg'); height: 100vh; }
  #page__changelog .changelog__item{ flex-direction: column; padding-bottom: 12px; }
  #page__changelog .changelog__title{ display: inline-block; padding-right: 12px; }
}
@media only screen and (min-width: 769px){
  .content__section{ padding: 55px 0; }
  #page__banner.banner__image{ background-image: url('../images/wp-banner.jpg'); height: 500px; }
  #page__changelog .changelog__meta{ flex-basis: 15%; }
}

/* Documentation */
.docs__body{ background-color: var(--bg-color); }
#doc__main.wrapper{ display: flex; padding: 60px 0; }
/* Sidbar Nav */
#doc__main .doc__nav{ width: 20%; font-weight: 200; }
#doc__main .doc__nav ul{ list-style: none; padding-left: 1.5rem; line-height: 1.8; margin: 0; }
#doc__main .doc__nav ul.fixed{ position: fixed; top: 2rem; }
#doc__main .doc__nav li:hover{ color: var(--primary-color-light); cursor: pointer; transition: color .3s ease-in-out; }
#doc__main .doc__nav .selected{ color: var(--accent-color); position: relative; }
#doc__main .doc__nav .selected:after{ position: absolute; content: ""; width: 1rem; height: 1rem; background-color: var(--accent-color); left: -1.5rem; top: 0.3rem; }
#doc__main .doc__content{ width: 80%; padding: 0 0 0 1rem; }

@media (max-width: 750px) {
  #doc__main .doc__nav, #doc__main .doc__content{ width: 100%; }
  #doc__main .doc__content{ padding: 0; }
  #doc__main.wrapper { flex-direction: column; padding: 35px 0; }
  #doc__main .doc__content { padding: 15px 20px; }
  #doc__main .doc__nav ul { border-bottom: 1px solid var(--code-bg-color); padding-bottom: 0.5rem; }
  #doc__main .doc__nav ul.fixed { /* nutralized the fixed menu for mobile*/ position: relative; top: 0; }
  #doc__main .doc__nav li { display: inline-block; padding-right: 1rem; }
  #doc__main .doc__nav .selected:after { display: none; }
}